.three{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}
.three > .up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: left;
    gap: 4vh;
}

.three > .up > h1{
    font-size: 2.8125em;
    text-align: left;
}
.three > .up > p{
    font-size: 1.2em;
    text-align: left;
}

.three > .down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    row-gap: 5vh;
    column-gap: 3vw;
}