.two {
    height: 90vh;
    min-height: 576px;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #10BF8C, #02ceb3, #01d8bb);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upper {
    height: 30%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.lower {
    height: 70%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper>h1 {
    color: black;
    font-size: 2.8125em;
    text-align: left;
    margin-top: 10vh;
}

.upper>p {
    color: black;
    font-size: 1.3em;
    text-align: left;
    margin-top: 2vh;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lower>.item>p {
    color: black;
    font-size: 1.2em;
    text-align: left;
    margin-top: 2vh;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lower>.item>h3 {
    font-size: 1.40625em;
    color: black;
    text-align: left;
    margin-top: 10vh;
}

.lower>.item {
    margin: 2vh;
    text-align: left;
}