*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 200vh;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.list li{
    list-style: none;
    display: flex;
    padding: 5vw;
}
.navbar{
    position: sticky;
    top: 3vh;
    display: flex;
    justify-content: center;
}